body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .5px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 40px;
}

.cta {
  border: solid 3px #9005ca;
  background-color: #c231ff;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
}

.cta:hover {
  background-color: #a51cde;
}

.banner {
  background-color: #d9ffff;
  font-weight: 600;
  padding: 15px 0;
  text-align: center;
}

nav::after {
  content: '';
  height: 2px;
  width: 100%;
  display: block;
  background-image: url(https://res.cloudinary.com/dzynqn10l/image/upload/v1629132018/Bug%20Bash/rainbow-line_uvixtx.jpg);
  background-size: contain;
}

.nav-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image-container {
  display: inline-block;
  background-color: #f8bbff;
  padding: 5px;
  border-radius: 50%
}

.logo-image,
.logo-text {
  cursor: pointer;
}

.logo-image {
  width: 40px;
}

.logo-text {
  font-size: 34px;
  margin-left: 12px;
  align-self: center;
  font-weight: 500;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-self: flex-end;
  align-items: center;
  align-self: center;
  font-weight: 500;
  font-size: 20px;
  grid-column-gap: 25px;
}

.nav-links li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-column-gap: 8px;
}

.nav-link-image,
.nav-link-text {
  cursor: pointer;
  display: inline-block;
}

.nav-link-image {
  width: 14px;
}

.nav-link-text {
  display: inline-block;
}

.minicart-icon {
  width: 35px;
}

.burger-icon,
.nav-links li.menu-close,
.nav-links .nav-link-text.cart {
  display: none;
}

.burger-icon,
.nav-links li.menu-close {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.burger-icon {
  float: right;
  margin-top: 6px;
}

header {
  text-align: center;
  padding-top: 55px;
}

.title,
.subtitle {
  line-height: 40px;
}

.title {
  font-size: 68px;
  margin-bottom: 20px;
  font-weight: 500;
}

.subtitle {
  font-size: 30px;
  color: #82817d;
  margin-bottom: 90px;
}

header .wrapper {
  width: 100%;
  background-image: url(https://res.cloudinary.com/dzynqn10l/image/upload/v1629137500/Bug%20Bash/grid-tile-2_1_f5plon.jpg);
  background-position-y: 29px;
}

.crystal-and-value-props {
  position: relative;
  top: -50px;
  z-index: 10;
}

.big-crystal {
  position: relative;
  top: 2px;
}

.value-props {
  background-color: #fff;
  border-radius: 10px;
  border: solid 5px #e6e6e6;
  max-width: 900px;
  margin: 0 auto;
}

.vp-grid {
  display: grid;
  grid-template-columns: 170px auto auto;
  padding: 20px 25px;
  grid-column-gap: 20px;
  text-align: left;
}

.vp-grid .cta {
  height: 50px;
}

.learn-more-bottom {
  display: none;
}

.vp-item {
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: default;
  padding: 10px 6px;
}

.vp-item:hover {
  border: dotted 1.5px rgb(194 49 255);
  background-color: #fff0ff;
  border-radius: 6px;
}

.vp-item-image {
  margin-right: 12px;
  width: 20px;
}

.vp-text {
  line-height: 22px;
}

.gem-vid-container {
  background-color: #fff;
  margin-top: -135px;
  position: relative;
  z-index: 5;
}

.gem-vid {
  height: 185px;
  width: 100%;
  object-fit: cover;
  background: #000;
  filter: invert(1) opacity(0.2);
}

.clients {
  margin-top: 80px;
  text-align: center;
}

.clients-title {
  text-transform: uppercase;
  color: #82817d;
  font-weight: 700;
  line-height: 22px;
  position: relative;
  z-index: 5;
  display: inline-block;
  padding: 0 16px;
  background: #fff;
}

.clients-title-line {
  height: 2px;
  width: 100%;
  background-color: #dedede;
  position: relative;
  top: -9px;
}

.client-slider {
  position: relative;
  width: 85%;
  margin: 20px auto 0 auto;
}

.clients-bottom-line {
  height: 2px;
  width: 60%;
  background-color: #dedede;
  margin: 0 auto;
}

.slick-list {
  margin: 0 -25px;
  overflow: hidden;
}

.slick-slide {
  margin: 0 25px;
  vertical-align: text-top;
}

.slick-arrow {
  z-index: 10;
  top: 30px;
}

.slick-prev:before,
.slick-next:before {
  color: #2294ae;
}

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -50px;
}

.slick-dots {
  top: auto;
  bottom: 30px;
}

.clients-reset {
  color: #dfdfdf;
  position: relative;
  top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.clients-reset:hover {
  color: #828282;
}

.gems {
  margin-top: 80px;
}

.gems-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

.gem-filter {
  background: #fff;
  border: solid 3px #9005ca;
  outline: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
}

.gem-filter:hover {
  background-color: #fff0ff;
}

.gem-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  margin-top: 30px;
}

.last-row {
  display: contents;
}

.gem-card {
  border: solid 4px #e6e6e6;
  border-radius: 8px;
  padding: 16px 12px;
}

.card-title-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: 500;
}

.card-title {
  font-size: 18px;
}

.card-price {
  color: #1bcd2b;
}

.card-image-container {
  border-radius: 8px;
  border: solid 3px #e6e6e6;
}

.gem-card:nth-child(1) .card-image-container { background-color: #d9ffff; }
.gem-card:nth-child(2) .card-image-container { background-color: #fff8ca; }
.gem-card:nth-child(3) .card-image-container { background-color: #fbd9f6; }
.gem-card:nth-child(4) .card-image-container { background-color: #dbd2ff; }
.gem-card:nth-child(5) .card-image-container { background-color: #d9f7d7; }
.gem-card:nth-child(6) .card-image-container { background-color: #cee9ff; }
.gem-card:nth-child(7) .card-image-container { background-color: #ffcbc3; }
.gem-card:nth-child(8) .card-image-container { background-color: #ffe7ca; }
.gem-card:nth-child(9) .card-image-container { background-color: #d7e4f7; }
.gem-card:nth-child(10) .card-image-container { background-color: #eaffce; }
.gem-card:nth-child(11) .card-image-container { background-color: #d5f3e2; }
.gem-card:nth-child(12) .card-image-container { background-color: #fdd6e6; }
.gem-card:nth-child(13) .card-image-container { background-color: #ffe2ce; }
.gem-card:nth-child(14) .card-image-container { background-color: #fdeffc; }
.gem-card:nth-child(15) .card-image-container { background-color: #d5f0f3; }
.gem-card:nth-child(16) .card-image-container { background-color: #fff6ca; }

.card-image {
  max-width: 150px;
  padding: 30px;
  margin: 0 auto;
  display: block;
}


.load-more-container {
  text-align: center;
  margin-top: 20px;
}

.load-more {
  background-color: #fff;
  border: solid 1px #82817d;
  color: #82817d;
  border-radius: 6px;
  font-weight: 700;
  font-size: 18px;
  padding: 8px 18px;
  cursor: pointer;
}

.load-more:hover {
  background-color: #f1f1f1;
}

.offers {
  margin-bottom: 100px;
}

.offers-header {
  text-align: center;
  margin: 80px 0;
}

.offers-header h1 {
  font-size: 42px;
  font-weight: 500;
}

.offers-header h2 {
  font-weight: 500;
  color: #82817d;
  font-size: 24px;
  margin: 40px 0 60px 0;
}

.offers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 35px;
}

.offer {
  border: solid 4px #e6e6e6;
  border-radius: 8px;
  padding: 20px;
  text-align: center;

}

.special-offer-inner {
  margin-top: -70px;
}

.special-offer-shield {
  width: 50%;
  max-width: 170px;
  margin-bottom: 20px;
}

.customer-status-title,
.customer-status-terms {
  color: #8a8986;
  font-size: 18px;
  line-height: 30px;
}

.customer-status-title {
  margin-bottom: 25px;
}

.customer-status-image-container {
  background-color: #9fcfff;
  max-width: 110px;
  padding: 10px 0;
  border-radius: 8px;
  margin: 0 auto 8px auto;
  border: solid 2px #000;
}

.customer-status-image {
  width: 50%;
}

.customer-status-line {
  height: 2px;
  width: 60%;
  background-color: #dedede;
  margin: 0 auto 20px auto;
}

.customer-status {
  font-family: 'Courier New', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #3e98f2;
  font-weight: 700;
  margin-bottom: 20px;
}

.gem-of-the-day {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 22px;
}

.gotd-image {
  width: 150px;
  background-color: #d5eaff;
  border-radius: 50%;
  margin-bottom: 14px;
  border: solid 2px #000;
}

.gotd-title {
  font-weight: 600;
  font-size: 18px;
  color: #82817d;
}

.gotd-cta {
  margin-top: 40px;
}


.reviews {
  background-color: #efefef;
  background-blend-mode: multiply;
  background-image: url(https://res.cloudinary.com/dzynqn10l/image/upload/v1629221210/Bug%20Bash/diamon-tile-bg_quh3rl.png);
  margin-bottom: 100px;
}

.reviews-container {
  display: grid;
  grid-template-columns: 30% auto;
  align-items: center;
  padding: 80px 0;
}

.reviews-image-container {
  position: relative;
  background-color: #dbd2ff;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  border: solid 2px #b727f3;
}

.reviews-image {
  background-image: url(https://res.cloudinary.com/dzynqn10l/image/upload/v1629220987/Bug%20Bash/ezgif.com-gif-maker_2_wxi4ix.gif);
  background-repeat: no-repeat;
  background-size: 175px 138px;
  width: 175px;
  height: 138px;
  position: relative;
  top: 16px;
  left: 2px;
  z-index: 10;
}

.review-text {
  font-size: 36px;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 25px;
}

.review-line {
  width: 80px;
  height: 5px;
  background-color: #3ceef0;
  margin-bottom: 25px;
}

.review-author {
  font-size: 24px;
  color: #82817d;
  font-weight: 500;
  margin-bottom: 25px;
}

.links {
  border-top: solid 3px #f3f1ee;
  padding: 64px 0;
}

.links-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.links-list li {
  font-size: 16px;
  padding-bottom: 8px;
}

.links-list li a {
  text-decoration: none;
  color: #585856;
}

footer {
  height: 45px;
  line-height: 45px;
  font-size: 15px;
  background-color: #c231ff;
  color: #fff;
  padding: 0 20px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
}

.control-btn {
  background-color: #f0a8fe;
  border: solid 2px #9005ca;
  outline: none;
  border-radius: 6px;
  padding: 4px 10px;
  cursor: pointer;
}

.control-btn:hover {
  background-color: #c670e9;
  color: #fff;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 0 20px;
  }

  .logo-text {
    font-size: 25px;
    margin-left: 8px;
  }

  .nav-links {
    font-size: 18px;
  }

  .gem-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .special-offer-shield {
    max-width: 130px;
  }
}


@media (max-width: 767px) {
  .banner {
    font-size: 14px;
  }

  .nav-inner {
    display: block;
  }

  .logo-container {
    float: left;
    padding-bottom: 15px;
  }

  .nav-links {
    display: none;
  }

  .burger-icon,
  nav.open .nav-links li.menu-close,
  nav.open .nav-links .nav-link-text.cart,
  nav.open .nav-links {
    display: block;
  }

  .burger-icon {
    float: right;
  }

  .nav-links li.menu-close {
    position: absolute;
    z-index: 10;
    top: 13px;
    right: 8px;
  }

  nav.open .nav-links {
    position: absolute;
    top: 54px;
    right: 12px;
    background-color: #fff;
    padding: 55px 40px 20px 40px;
    box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%), 0 -18px 60px -10px rgb(0 0 0 / 3%);
  }

  .nav-links li {
    grid-template-columns: auto 1fr;
    grid-column-gap: 14px;
  }

  .nav-links li:not(:last-child) {
    margin-bottom: 18px;
  }

  .minicart-icon {
    width: 20px;
  }

  .nav-links .nav-link-text.cart {
    margin-left: -5px;
  }

  nav::after {
    clear: both;
  }

  .title,
  .subtitle {
    padding: 0 20px;
  }

  .title {
    font-size: 50px;
  }

  .subtitle {
    font-size: 20px;
    line-height: 28px;
  }

  header .wrapper {
    background-size: 38px;
  }

  .big-crystal {
    width: 190px;
  }

  .vp-grid {
    display: block;
    position: relative;
  }

  .vp-grid .cta {
    width: 100%;
    text-align: center;
    font-size: 18px;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
  }

  .learn-more-top {
    display: none;
  }

  .learn-more-bottom {
    display: inline-block;
    margin: 20px 0 0 0;
  }

  .vp-item {
    padding: 8px 6px;
  }

  .vp-text {
    line-height: 18px;
    font-size: 15px;
  }

  .gem-vid-container {
    margin-top: -56px;
  }

  .clients {
    margin-top: 30px;
  }

  .clients-reset {
    top: -45px;
  }

  .clients-bottom-line {
    display: none;
  }

  .gems {
    margin-top: 10px;
  }

  .gems-header {
    display: block;
  }

  .gem-counter {
    text-align: center;
    margin-bottom: 20px;
  }

  .gem-filters {
    text-align: center;
  }

  .gem-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .gem-card {
    border: solid 2px #e6e6e6;
  }

  .card-title {
    font-size: 12px;
    line-height: 16px;
  }

  .card-price {
    padding-left: 4px;
    font-size: 12px;
  }

  .card-image {
    max-width: 100%;
    width: 85px;
    padding: 12px;
  }

  .load-more {
    font-size: 15px;
  }

  .offers {
    margin-bottom: 60px;
  }

  .offers-header {
    margin: 40px 0 85px 0;
  }

  .offers-header h1 {
    font-size: 34px;
    line-height: 44px;
  }

  .offers-header h2 {
    margin: 30px 0;
    line-height: 30px;
  }

  .offers-container {
    display: block;
  }

  .offer {
    margin-bottom: 40px;
  }

  .customer-status-title,
  .customer-status-terms {
    line-height: 26px;
  }

  .reviews {
    margin-bottom: 0;
  }

  .reviews-container {
    display: block;
    text-align: center;
  }

  .reviews-image-container {
    margin: 0 auto 30px auto;
  }

  .review-text,
  .review-author {
    text-align: center;
  }

  .review-text {
    font-size: 26px;
    line-height: 36px;
  }

  .review-line {
    margin: 0 auto 25px auto;
  }

  .review-author {
    font-size: 20px;
  }

  .reviews-cta {
    margin-top: 20px;
  }

  .links-inner {
    grid-column-gap: 12px;
    text-align: center;
  }

  .footer-inner {
    display: block;
  }
}