.header__nav-item a[href="/collections"] {
  color: #000;
  text-transform: none;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  top: 6px;
  transition: none;
}

.banner-course___3f96f {
  display: none;
}

.section-height__medium>[class*="__container"] {
  padding: 0;
}


.course-curriculum {
  margin-top: 100px;

  .course-curriculum__container {
    padding: 0 40px;

    h2.section__heading {
      font-weight: 700;
      text-align: left;
    }
  
    .course-curriculum__chapter-title {
      font-size: 20px;
    }

    .course-curriculum__chapter-lesson {
      font-weight: bold;
    }

    .course-curriculum__chapter {
      background-color: #d0edd0;

      &.course-curriculum__chapter--collapsed {
        background-color: #08fb0421;
      }
    } 
    
  }
}


.faq__container {
  display: block;
  margin: 0 auto;
  padding: 0 40px 0 40px !important;
  max-width: 800px;
  margin: 100px auto 0 auto;

  .faq__wrapper {
    display: block;

    header.section__headings {
      margin-bottom: 40px;

      h2.section__heading {
        font-weight: 700;
      }

      &+ article.section__content {
        display: block;
        max-width: 100%;
      }
    }

    .faq__list-item {
      font-size: 20px;
      margin: 0 0 1.5rem;

      strong {
        box-sizing: border-box;
      }
    }

    article > ul > li > details > summary > strong > i {
      &::before,
      &::after {
        background-color: #4caf50;
      }
    }
  }
}



.enroll {
  text-align: center;
  overflow: auto;

  .enroll-btn {
    color: #fff;
    background: #4caf50;
    font-weight: bold;
    text-decoration: none;
    padding: 18px 36px;
    border-radius: 5px;
    font-size: 18px;
    transition: all .4s ease-out;
    display: inline-block;

    &:hover {
      filter: brightness(1.1);
    }
  }
}



body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .5px;
}
.wrapper {
  padding: 40px 40px 0 40px;
  max-width: 800px;
  margin: 0 auto;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  text-decoration: none;
  margin-bottom: 140px;
}
.logo-image {
  width: 45px;
}
.logo-text {
  text-align: left;
  margin-left: 8px;
}
.logo-text-large {
  font-weight: 700;
  font-size: 26px;
}
.logo-text-small {
  margin: 3px 0 0 1px;
}
.course-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 100px auto 60px auto;
}
.course-hero-left-inner {
  display: inline-block;
  text-align: left;
}
.bug-bash {
  font-size: 68px;
  font-weight: 700;
  margin-bottom: 10px;
  white-space: nowrap;
}
.bug-emoji {
  font-size: 28px;
}
.mini-course {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #4caf50;
}
.learn {
  font-size: 24px;
  color: #5e5e5e;
}
.course-hero-right {
  position: relative;
}
.browser-bg {
  max-width: 320px;
}
.green-bug {
  position: absolute;
  width: 80px;
  left: 0; 
  right: 0; 
  top: 26px;
  bottom: 0;
  margin: auto;
  z-index: 5;
  animation: wiggle 2.5s infinite;
}
.course-info {
  font-size: 20px;
  line-height: 28px;
  margin-top: 100px;

  p {
    margin-bottom: 0;

    &:nth-child(2) {
      margin-bottom: 40px;
    }
  }
}
.subheading {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 38px;
}
.preview {
  text-align: center;
  max-width: 475px;
  margin: 70px auto 80px auto;
}
.gemwizard-image {
  width: 100%;
  border: solid 1px #e1e1e1;
  border-radius: 6px;
  margin-bottom: 6px;
}
figcaption {
  font-size: 18px;
  line-height: 22px;
  color: #5e5e5e;
}
.about-me {
  font-size: 20px;
  line-height: 28px;

  a {
    color: #4caf50;

    &:hover {
      color: #000;
    }
  }

  .about-me-main {
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 20px 40px;

    img {
      width: 100%;
    }

    .about-me-2 {
      grid-column: 1/3;
      margin-bottom: 0;
    }
  }
}
.value-props {
  font-size: 18px;
  margin-left: 40px;
  margin-bottom: 30px;
}
.value-props li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.value-props li img {
  width: 20px; 
  margin-right: 10px;
}
.underline {
  border-bottom: solid 3px #22d71f;
}
footer {
  display: flex;
  justify-content: space-between;
}
footer a {
  color: #4caf50;
}

@media (max-width: 767px) {
  .wrapper {
    padding: 0 20px;
  }
  .logo-container {
    margin-bottom: 80px;
  }
  .course-hero {
    display: block;
    margin: 40px 0;
  }
  .course-hero-left-inner {
    text-align: center;
    margin-bottom: 30px;
  }
  .bug-bash {
    font-size: 58px;
  }
  .mini-course {
    font-size: 38px;
  }
  .bug-emoji {
    font-size: 20px;
  }
  .learn {
    font-size: 20px;
  }
  .browser-bg {
    max-width: 270px;
  }
  .subheading {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
  }
  .enroll-btn {
    width: 100%;
  }
  .course-info {
    font-size: 18px;
    line-height: 24px;
    margin-top: 80px;
  }
  .preview {
    margin: 30px auto 50px auto;
  }
  figcaption {
    font-size: 14px;
    line-height: 20px;
  }
  .about-me {
    font-size: 18px;
    line-height: 24px;

    .about-me-main {
      display: block;

      img {
        width: 220px;
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
      }
    }
  }
  .value-props {
    margin-left: 10px;
    font-size: 16px;
  }
  .value-props li::before {
    position: absolute;
    left: -30px;
    top: 18px;
  }

  .course-curriculum, 
  .faq__container{
    margin-top: 80px;
  }

  .course-curriculum {
    .course-curriculum__container {
      padding: 0 20px;
      margin: 0;
      width: 100%;

      .course-curriculum__chapter-title {
        font-size: 17px;
      }
    }
  }
  .faq__container {
    padding: 0 20px !important;

    .faq__wrapper {
      .faq__list-item {
        font-size: 18px;
      }
    }
  }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(5deg); }
  95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}